.main-wrapper {
  text-align: center;
  width: 94%;
  margin: 0 auto;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.hero-section__header {
  text-align: center;
  width: 100%;
  font-size: 35px;
  padding: 1em;
  line-height: 1;
}

.hero-section__header .scored {
  text-decoration: line-through;
  font-size: 1em;
  font-family: "Oswald";
  color: #333;
}

.hero-section__text p {
  text-align: left;
  padding: 1em;
}

.hero-section__text p:first-of-type {
  margin-top: 2em;
}

.work-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.work-card {
  display: flex;
  width: 90%;
  margin-bottom: 2em;
}

.work-card__text {
  width: 40%;
  padding: 0 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-card__text h3 {
  padding: 0 1em;
}

.work-card__text p {
  margin: 1.5em 0;
}

.work-card__image {
  width: 60%;
}

.work-card__image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
