.header-container {
  width: 94%;
  margin: 0 auto;
}

.header-bar {
  display: flex;
  height: 110px;

  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.nav-menu__button {
  float: left;
}

.nav-menu__button a {
  display: block;
  color: #333;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3em;
}

.nav-menu__button a:hover {
  font-weight: bold;
}
